<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Your Shopping List</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>

<!-- standard header -->
<div th:replace="~{fragments_gen.html :: header}"/>

<!-- page content -->
<h1>Your Shopping List</h1>


<div class="grocery-list">
    <form th:object="${shoppingList}" th:action="@{/list/save}" method="post">
    <div class="grocery-list-item" th:each="item, iterStat : *{items}">
        <input type="hidden" th:field="*{items[__${iterStat.index}__].id}" />
        <input type="text" th:field="*{items[__${iterStat.index}__].description}" />
        <input type="text" th:field="*{items[__${iterStat.index}__].price}" />
        
    </div>
        <button type="submit">Save</button>
    </form>
</div>


</body>
</html>